[Unit]
Description=Retry checking for completed aggregation exports

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=music-verifier-cisnet.service

[Install]
WantedBy=music-verifier.target
